

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.mapTooltip {
     position: fixed;
     background-color : #fff;
     moz-opacity:0.70;
     opacity: 0.70;
     filter:alpha(opacity=70);
     border-radius:10px;
     padding : 10px;
     z-index: 1000;
}


@font-face {
     font-family: "Travel Diary";
     src: url('travel_diary_feb26.ttf');
}

h1 {
     font-family: "Travel Diary";
     margin-top: 60px;
     margin-bottom: 30px;
}

body {
    background-color: #4183D7;
}

.newsItems {
     color: black;
     font-size: 20px;
}

#searchNews {
     border: 4px solid white;
     margin-top: 20px;
     background-color: white;
     margin-bottom: 40px;
     border-radius: 4px;
}

.newsTitle {
     margin-top: 40px;
     margin-bottom: 30px;
     color: white;
}

.mainTitle {
     font-size: 50px;
     color: white;
}

div.areaLegend {
     color: white;
}

#commentTable {
     padding-left: 20px;
}

.user-comments-title {
     padding-left: 30px;
}

.panel-primary {
     margin-top: 30px;
}

div.user-comments-title {
     margin-left: -20px;
}

#searchNews, #userComments {
     padding-left: 20px;
     padding-right: 20px;
}
