

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.mapTooltip {
     position: fixed;
     background-color : #fff;
     moz-opacity:0.70;
     opacity: 0.70;
     filter:alpha(opacity=70);
     border-radius:10px;
     padding : 10px;
     z-index: 1000;
}


@font-face {
     font-family: "Travel Diary";
     src: url('travel_diary_feb26.ttf');
}

h1 {
     font-family: "Travel Diary";
     margin-top: 60px;
     margin-bottom: 30px;
}

body {
    background-color: #4183D7;
}

.newsItems {
     color: black;
     font-size: 20px;
}

#searchNews {
     margin-top: 20px;
     background-color: white;
     margin-bottom: 40px;
     border-radius: 4px;
     padding-bottom: 4px;
}

#commentTable {
     padding-bottom: 4px;
}

.mainTitle {
     font-size: 50px;
     color: white;
}

#commentTable {
     padding-left: 20px;
}

.user-comments-title {
     padding-left: 30px;
}

.panel-primary {
     margin-top: 30px;
}

div.user-comments-title {
     margin-left: -20px;
}

#searchNews, #userComments {
     padding-left: 30px;
     padding-right: 30px;
}

.newsTitle {
     padding-top: 20px;
     margin-bottom: 20px;
}

/* Modal Content/Box */
#modal {
     font-size: 40px;
     color: white;
     background-color: #337AB7;
     box-sizing: border-box;
}

#modal-text {
     padding: 40px;
     background-color: #337AB7;
}

 /* Flickr */

#buttonContainer {
 margin-top: 20px;
 margin-bottom: -15px;
}

#photos {
 max-width: 1200px;
}

#search {
 color: #2D3339 ;
 width: 320px;
 margin-left: -10px;
}

.heading {
    background-color: #2D4671 ;
    padding-top: 1px;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

#hOne {
 color: white;
}

img.img-thumbnail {
 width: 320px;
 height: 320px;
 border-radius: 10px;
 margin-bottom: 20px;
 background-color: #2D4671 ;
}

img:hover {
   -webkit-transform:scale(1.05); /* Safari and Chrome */
   -moz-transform:scale(1.05); /* Firefox */
   -ms-transform:scale(1.05); /* IE 9 */
   -o-transform:scale(1.05); /* Opera */
    transform:scale(1.05);
}

/*===============  Media Queries ================*/

   /* Custom, iPhone Retina */
   @media only screen and (min-width : 320px) {

   }

   /* Extra Small Devices, Phones */
   @media only screen and (max-width : 480px) {
        #hOne {
         font-size: 20px;
       }
       .mainTitle {
           font-size: 30px;
       }
   }

   /* Small Devices, Tablets */
   @media only screen and (min-width : 768px) {
     img.img-thumbnail {
        width: 280px;
        height: 280px;
     }
   }

   /* Medium Devices, Desktops */
   @media only screen and (min-width : 992px) {
     img.img-thumbnail {
        width: 260px;
        height: 260px;
     }
   }

   /* Large Devices, Wide Screens */
   @media only screen and (min-width : 1200px) {

   }

   /* Very Large Devices, Wide Screens */
   @media only screen and (min-width : 1300px) {

   }

/*================================================*/